.clearfix::after,
.clearfix::before
{
	content:"";
	display:table;
	clear:both;
}

//[class*="col-"]{width:100%;}
@for $i from 1 through 12
{
	.col-#{$i}{width:percentage($i/12);}
}
@media (min-width:576px)
{
	@for $i from 1 through 12
	{
		.col-sm-#{$i}{width:percentage($i/12);}
	}
}
@media (min-width:768px)
{
	@for $i from 1 through 12
	{
		.col-md-#{$i}{width:percentage($i/12);}
	}
}
@media (min-width:992px)
{
	@for $i from 1 through 12
	{
		.col-lg-#{$i}{width:percentage($i/12);}
	}
}
@media (min-width:1200px)
{
	@for $i from 1 through 12
	{
		.col-xl-#{$i}{width:percentage($i/12);}
	}
}