---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
/*reset*/
*
{
	box-sizing:border-box;
}
html,
body
{
	background:#f8f8f8;
	display:flex;
	flex-direction:column;
	height:100%;
	margin:0;
	padding:0;
	width:100%;
}
a:not(:hover)
{
	text-decoration:none;
}
::selection
{
	background:#f93;
	color:#fff;
}
::-moz-selection
{
	background:#f93;
	color:#fff;
}
	/*fonts*/
@font-face
{
	font-family:'icon';
	src:url('../font/icons.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
	h1,h2,h3,h4
	{
		font-family:Tahoma, Geneva, sans-serif;
		margin:0;
		margin-bottom:1rem;
	}
	h1 a,
	h2 a,
	h3 a,
	h4 a
	{
		color:inherit;
	}
	h1{font-size:1.728rem;}
	h2{font-size:1.44rem;}
	h3{font-size:1.2rem;}
	h4{font-size:1rem;}
	header,
	footer,
	main
	{
		font-family:Century Gothic;
		font-size:1.1rem;
	}
	.fine-print
	{
		font-size:0.8rem;
	}
	/*colors*/
	header,
	footer
	{
		background:#222;
		color:#fff;
	}
	main
	{
		color:#222;
	}
	/*links*/
	a
	{
		color:#09c;
	}
	a:hover
	{
		color:#f90;
		cursor:pointer;
		text-decoration:underline;
	}
	.accessible-txt
	{
		display:none;
	}
	/*lists*/
	ol,ul
	{
		-webkit-margin-before:0;
		-webkit-margin-after:0;
		-webkit-margin-start:0;
		-webkit-margin-end:0;
		-webkit-padding-start:0;
		margin-left:1rem;
	}
	/*img*/
	figure
	{
		display:block;
		font-size:0.8rem;
		margin-block-end:0;
		margin-block-start:0;
		margin-inline-end:0;
		margin-inline-start:0;
		max-width:100%;
		padding:0 1rem;
		position:relative;
		text-align:center;
	}
	figure img
	{
		display:block;
		margin:auto;
	}
	figure [data-orientation="landscape"]
	{
		width:100%;
	}
	figure [data-orientation="portrait"]
	{
		max-height:21rem;
	}
		figure:hover a.pin
		{
			display:block;
			height:1.5rem;
			position:absolute;
			right:calc(2.2rem + 1rem);
			top:0.1rem;
		}
		figure:hover a.pin::after,
		figure:hover a.pin::before
		{
			bottom:0;
			background:#bd081b;
			color:#fff;
			display:flex;
			flex-direction:column;
			position:absolute;
		}

		figure:hover a.pin::before
		{
			border-bottom-left-radius:0.2rem;
			border-top-left-radius:0.2rem;
			content:"pinterest";
			font-family:icon;
			font-size:1.1rem;
			left:-1.1rem;
			text-align:right;
			width:1.1rem;
		}
		figure:hover a.pin::after
		{
			border-bottom-right-radius:0.2rem;
			border-top-right-radius:0.2rem;
			content:"save";
			right:-2.2rem;
			text-align:left;
			text-indent:0.1rem;
			width:2.2rem;
		}

/*layout*/
.col
{
	display:flex;
	flex-direction:column;
}
.row
{
	display:flex;
	flex-direction:row;
}
.stretch
{
	flex:1 1 auto;
}
.shrink
{
	flex:0 0 auto;
}
	/*header,footer*/
	header,
	footer
	{
		padding:0.5rem;
	}
	header>a
	{
		font-size:1.44rem;
	}
	nav a
	{
		display:flex;
		flex-direction:column;
		justify-content:center;
		margin:0 0.2rem;
	}
	header a,
	footer a
	{
		color:inherit;
	}
	/*header*/
	header
	{
		box-shadow:0 0 0.1rem #000;
		justify-content:space-between;
		min-height:2.75rem;
		position:fixed;
		top:0;
		width:100%;
		z-index:1;
	}
	header a:hover,
	header a:hover *
	{
		color:#f90;
		text-decoration:none;
	}
		/*scroll-progress-bar*/
		.scroll-progress-bar
		{
			background-image:linear-gradient(#fff,#fff);
			background-repeat:no-repeat;
			height:0.1rem;
			left:0;
			position:absolute;
			bottom:0.1rem;
			width:100%;
		}
		header:hover .scroll-progress-bar
		{
			background-image:linear-gradient(#f93,#f93);
		}
	/*main*/
	main
	{
		line-height:150%;
		margin:0 auto;
		margin-top:2.75rem;
		max-width:42rem;
		padding:0.5rem 1rem;
	}
	/*footer*/
	footer
	{
		min-height:4.2rem;
		text-align:center;
	}
	footer .row
	{
		justify-content:center;
		padding:0.2rem;
	}
/*tags*/
.tags
{
	margin-left:0;
	margin-top:2rem;
	list-style-type:none;
	position:relative;
}
.tags::before
{
	content:"tags: ";
}
.tag
{
	background:#fff;
	border:1px solid #222;
    border-radius:0.1rem;
    display:inline;
    margin:0.25rem;
    padding:0.25rem 0.5rem;
}

/*social-icons*/
[data-icon]
{
	color:#fff;
	font-family:icon;
	font-size:1.2rem;
	height:1.44rem;
	text-align:center;
	width:1.44rem;
}
[data-icon]:hover
{
	color:inherit;
	text-decoration:none;
}
[data-icon="facebook"]{font-size:1rem;}
[data-icon="github"]{font-size:1rem;}
[data-icon="rss"]{font-size:0.8rem;}
[data-icon="stackoverflow"]{font-size:0.8rem;}
[data-icon="twitter"]{font-size:1rem;}
[data-icon="youtube"]{font-size:1rem;}

[data-icon="facebook"]:hover{background:#3b5998;}
[data-icon="github"]:hover{background:#9d7bdc;}
[data-icon="patreon"]:hover{background:#f96854;}
[data-icon="pinterest"]:hover{background:#bd081b;}
[data-icon="rss"]:hover{background:#f80;}
[data-icon="stackoverflow"]:hover{background:#f58025;}
[data-icon="twitter"]:hover{background:#1da1f3;}
[data-icon="youtube"]:hover{background:#ed1d24;}