<figure>
	<img data-orientation="{{ include.orientation | default: "landscape"}}" src="{{ include.url }}" alt="{{ include.description }}">
	<a class="pin" href="https://pinterest.com/pin/{% if include.pin %}{{include.pin}}{% else %}create/button/?url={{site.url | url_encode}}/{{page.url | url_encode}}&media={{site.url | url_encode}}/{{include.url | url_encode}}&description={{include.description | url_encode}}{% endif %}" target="_blank"></a>
	<figcaption>{{ include.description }}</figcaption>
</figure>