---
layout: default
lang: en
ref: index
---
<h1>Site Under Construction</h1>
<p>Thank you for the interest! But fair warning, not everything is working quite yet!</p>

<ul class="posts">
		{% for post in site.posts limit:13 %}
			<li class=post>
				<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
					<div>
						<img src="{{post.img}}">
						<b>{{post.title}}</b>
						<date>{{ post.date | date: "%B %-d, %Y"}}</date>
					</div>

				</a>
				<p class="desc">{{post.desc}}</p>
				{% for tag in post.tags %}
					<a class=tag href="{{site.url}}/{{page.lang}}/search.html?tag={{ tag | xml_escape }}">{{ tag | xml_escape }}</a>
				{% endfor %}
			</li>
		{% endfor %}
</ul>