<!Doctype html>
<title>Minifyre{{title}}</title>
<meta charset=utf-8>
<meta name=mobile-web-app-capable content=yes>
<meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<!--<link rel="icon" href="icon.png">
<link rel="apple-touch-icon" href="icon.png">
<meta theme-color="#09c">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
-->
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search resu...">
<!-- Open Graph -->
<!--
<meta property="og:title" content="{{- _page_title -}}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{- site.avatar | absolute_url -}}" />
<meta property="og:url" content="{{- page.url | absolute_url -}}" />
<meta property="og:site_name" content="{{- site.title | escape -}}" />
<meta property="og:description" content="{{- _page_description -}}" />
-->
<link rel="canonical" href="/">
<link rel="alternate" type="application/rss+xml" title="Minifyre" href="/feed.xml">
<link rel=stylesheet href=index.css>
{% include header.html %}
<main id=main class=stretch>
	<h1>Heading 1</h1>
	<h2>Heading 2</h2>
	<h3>Heading 3</h3>
	<h4>Heading 4</h4>
	<p>Some paragraph text. Some very long text and a <a href=#>link</a>.</p>
	<ul>
		<li>Integrate <a href=https://alistapart.com/article/like-able-content-spread-your-message-with-third-party-metadata>social meta tags</a></li>
		<li>header styling</li>
		<li>heading sublink hover styling</li>
		<li>footer styling</li>
		<li>fixed header &amp; added blue loading bar at the bottom to correspond with scrolling progress</li>
		<li>header links on hover = glow</li>
	</ul>
	<ul class="post-list">
		{% for post in site.posts %}
		<li>
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

			<h2>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
			</h2>
		</li>
		{% endfor %}
	</ul>
</main>
{% include footer.html %}