---
layout: default
---
<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
	<h1 itemprop="name headline">
		<a href="#{{page.title | slugify}}" id="{{page.title | slugify}}">{{page.title}}</a>
	</h1>
	<time datetime="{{page.date | date_to_xmlschema}}" itemprop="datePublished">
	{{page.date | date: "%B %-d, %Y"}}</time>
	<div itemprop=articleBody>{{content}}</div>
	<ul class=tags>
		{% for tag in page.tags %}
        <li class=tag>
			<a href="{{site.url}}/{{page.lang}}/search.html?tag={{ tag | xml_escape }}">{{ tag | xml_escape }}</a>
		</li>
        {% endfor %}
	</ul>
</article>
<aside>
		<p>Find a spelling/grammar mistake? Or want to help translate this article? Let us know <a href="{{site.data.social[0].url}}/minifyre.github.io/blob/master/{{page.path}}">here</a> on GitHub!</p>
</aside>